<!-- Begin container -->
<div class='container animated fadeInUpBig bounceOut auth' >
  <div class="well auth-box" style="background-color:rgba(70, 22, 70, 0.74);">
    <h1>Formulario Producto</h1>
    <h2>
      Agrega un producto
    </h2>
    <br>
    <form role="form"  name="produ">
      <fieldset>
        <div class='kickass_field'>
          <input type="text" maxlength='30'  name="nombre"  id="nombre"   ng-model="producto.nombre"  required >
          <lable>
            Nombre:
            <span>Pone el nombre del producto</span>
          </lable>
        </div>
        <div class='kickass_field'>
          <input   maxlength='200' name="descripcion"  id="descripcion"   ng-model="producto.descripcion" required='required' type='text'>
          <lable>
            Descripcion
            <span>Has una descripcion breve del producto (ingredientes)</span>
          </lable>
        </div>
        <div class='kickass_field'>
          <input type='number'  name="precio"  id="precio"   ng-model="producto.precio" required='required' >
          <lable>
            Precio
            <span>Indique el precio del producto</span>
          </lable>
        </div>

        <span  class="alerta" ng-show="  imagenes.length<3  && (!show)">Tres foto es requerida  </span>
        <div  class="fileUpload btn btn-info btn-inverse">
          <span>Subir foto</span>
          <input type="file" class="upload" nv-file-select uploader="uploader" />
        </div>
        <li  class="pgwSlider" ng-repeat="item in uploader.queue ">
          <!-- nombre del archivo -->
          Archivo: <span ng-bind="item.file.name"></span><br/>
          <!-- imagen del archivo -->
          <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
          <div style="margin-bottom: 0; width:50%; margin:auto;" class="progress" >
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 40%;"></div>
          </div>


          <button type="button"  class="btn btn-success btn-xs" ng-click="uploader.uploadAll()" > <span class="glyphicon glyphicon-upload"></span>
            cargar</button>
            <!-- boton cancel -->            
            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>

            <!-- boton remove -->
            <button type="button" class="btn btn-danger btn-xs" ng-click="remover($index);item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </li>  
          <br><br>
          <div ng-if="uploader.getNotUploadedItems().length">
            <button ng-disabled="!uploader.getNotUploadedItems().length" type="button"  class="btn btn-success btn-xs" ng-click="uploader.uploadAll()" >  <span class="glyphicon glyphicon-upload"></span>
              subir todas las fotos </button>
            </div>

            <br> <br>
            
            <button id="button1id" name="button1id" style="width:150px;" ng-click="show= (produ.$valid && imagenes.length==3 ) ; show ? Aceptar():false" class="btn btn-success btn-lg btn3d"><span class="glyphicon glyphicon-ok"></span> Aceptar</button>
            <button type="button" id="button2id" name="button2id" style="width:150;" class="btn btn-danger btn-lg btn3d"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>



          </fieldset>
        </form>
      </br>

    </div>
  </div>
